@media  screen and (max-width: 1110px) {
  html {
    font-size: 50%;
  }

  .header__container, 
  .header__nav,
  .header__nav-list {
    flex-wrap: wrap;
  }

  .projects__title {
    text-align: center;
  }

  .projects__grid {
    grid-template-columns: repeat(2, 35rem);
    justify-content: center;
    grid-auto-flow: row;
  }

  .footer__container {
    gap: 2.5rem;
  }
}

@media  screen and (max-width: 860px) {
  html {
    font-size: 45%;
  }
  
  .header__container, 
  .header__nav {
    flex-direction: column;
  }
  
  .header__container {
    margin-bottom: 3rem;
  }

  .header__bgc {
    min-width: 100%;
  }

  .about__container {
    flex-direction: column;
    justify-content: center;
  }

  .testimonial__item {
    flex-direction: column;
    text-align: center;
  }

  .footer__container {
    /* justify-content: center; */
    flex-wrap: wrap;
  }
}

@media  screen and (max-width: 570px) {
  html {
    font-size: 40%;
  }
  .services__inner {
    flex-direction: column;
    gap: 1.5rem;
  }

  .projects__grid {
    grid-template-columns: repeat(1, 35rem);
  }

  .testimonial__flex-box {
    flex-direction: column;
    align-items: center;
  }
}
