@media  screen and (max-width: 1110px) {
  html {
    font-size: 50%;
  }

  .header__container, 
  .header__nav,
  .header__nav-list {
    flex-wrap: wrap;
  }
}

@media  screen and (max-width: 860px) {
  html {
    font-size: 45%;
  }
  
  .header__container, 
  .header__nav {
    flex-direction: column;
  }
  
  .header__container {
    margin-bottom: 3rem;
  }

  .header__bgc {
    min-width: 100%;
  }

  .about__container {
    flex-direction: column;
    justify-content: center;
  }
}

@media  screen and (max-width: 470px) {
  html {
    font-size: 40%;
  }
  .services__inner {
    flex-direction: column;
    gap: 1.5rem;
  }
}
